<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Test</title>
</head>
<body>
   <div id="app">
  
	<div class="message__panel" v-if="showTable">
		<div class="color__line"></div>
		<div class="account__wrapper">
			<div class="account">
				<div class="account__img">
					<img src="./img/avatar.png" alt="avatar">
				</div>
				<div class="account__info">
					<h2 class="account__title">
						Токсикова Ольга
					</h2>
					<small class="account__city">
						Днепропетровск
					</small>
				</div>
				
				
			</div>
			<div class="rating rating2"><!--
				--><a href="#5" title="Give 5 stars">★</a><!--
				--><a href="#4" title="Give 4 stars">★</a><!--
				--><a href="#3" title="Give 3 stars">★</a><!--
				--><a href="#2" title="Give 2 stars">★</a><!--
				--><a href="#1" title="Give 1 star">★</a>
			</div>
			<a href="#" class="close" @click="switchChat">
				
			</a>
			
		</div>
		
		<hr class="separator__line"> 
		<div class="users">
			<div class="user">
				<div class="user__info">
					<div class="user__img">
						<img src="./img/ava__odd.png" alt="avatar">
					</div>
					<div class="user__msg">
						<p class="msg">
							Где взять на прокат вечернее красивое платье? А еще лучше дизайнерское! Предстоит участие в <a href="#" class="msg__link">мероприятии</a>, где все гости будут наверняка одеты в наряды "от кутюр", а у меня со средствами туговато, да и жалко на один раз такие деньжищи отваливать. Мне 
						</p>  
					</div>
					<p class="user__date">
						вчера в <span class="date__time">17.45</span>
					</p>
				</div>

			</div>
			
			<div class="user">
				<div class="user__info user__even">
					<div class="user__img">
						<img src="./img/ava__even.png" alt="avatar">
					</div>
					<div class="user__msg">
						<p class="msg">
							Поисковик вам в помощь! Но цена примерно в половину стоимости платья.
						</p>  
					</div>
					<p class="user__date">
						вчера в <span class="date__time">17.45</span>
					</p>
				</div>

			</div>
			
			<div class="user">
				<div class="user__info">
					<div class="user__img">
						<img src="./img/ava__odd.png" alt="avatar">
					</div>
					<div class="user__msg">
						<p class="msg">
							Где взять на прокат вечернее красивое платье? А еще лучше дизайнерское! Предстоит участие в <a href="#" class="msg__link">мероприятии</a>, где все гости будут наверняка одеты в наряды "от кутюр", а у меня со средствами туговато, да и жалко на один раз такие деньжищи отваливать. Мне 
						</p>  
					</div>
					<p class="user__date">
						вчера в <span class="date__time">17.45</span>
					</p>
				</div>

			</div>
			
			
				<div class="user" v-for="(message , date , key)  in messages"  :class="{light__text: lightMsg}">
				<div class="user__info user__even">
					<div class="user__img ">
						<img src="./img/ava__even.png" alt="avatar">
					</div>
					<div class="user__msg">
						<p class="msg">
							
							{{message.text}}
						</p>  
					</div>
					<p class="user__date">
						вчера в <span class="date__time">{{ todayDate }}</span>
					</p>
				</div>

			</div>
				
		</div>
		
		<div class="sender">
			<div class="sender__img">
				<img src="./img/sender__avatar.png" alt="sender">
			</div>
			<div class="sender__send_area">
				<form action="">
					<textarea name="" id="message" v-model="msg" placeholder="Введите сообщение...">
						
					</textarea>
					<input type="button" value="Отправить" class="sender__btn" @click="addMsg($event)">
						
					
				</form>
			</div>
		</div>
	</div>
	

	<button class="opening_chat_btn" v-else="!showTable" @click="switchChat">Open chat</button>
	</div>
	<script src="./js/scripts.js">
	
    
			

	</script>
 
	
</body>
</html>