@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Tangerine");
input, button, select, textarea {
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  outline: 0; }

.d-f, main .slider .slides .slide .slide__txt .slide__rect-txt, main .header .container, main .header .container .header__nav .menu__items, main .portfolio-section .container .portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-b, .logo, main .slider .slides .slide .slide__txt .slide__rect-txt span, main .header .container .header__nav .header__burger-menu span, main .portfolio-section .container .portfolio__items .portfolio__item .portfolio__item-hidden-link, .footer .container .footer_contacts .skype span {
  display: block; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.text-center {
  text-align: center; }

.white {
  color: #fff; }

.p-5 {
  padding: 0 5%; }

.fl-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.logo {
  padding: 15px 0;
  margin-left: 20px;
  color: #fff;
  font-family: 'Tangerine', cursive;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s; }
  .logo:hover {
    text-shadow: 0 0 5px #fff; }

* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #FFFFFF;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5em; }

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1001; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

body, html {
  color: #7F8289;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 28px;
  height: 100%;
  background: #2F3238; }

main {
  position: relative; }
  main .slider {
    width: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    main .slider .slides {
      width: inherit;
      height: inherit;
      position: relative; }
      main .slider .slides .slide {
        width: inherit;
        height: inherit;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        main .slider .slides .slide .slide__overlay {
          text-align: center;
          font-size: 40px;
          background-color: rgba(0, 0, 0, 0.2);
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          z-index: 99;
          flex-direction: column; }
          main .slider .slides .slide .slide__overlay .transition__btn {
            width: 100%;
            position: relative;
            display: block;
            -webkit-animation: btn_down 1s ease infinite;
            animation: btn_down 1s ease infinite;
            width: 50px;
            height: 50px;
            cursor: pointer;
            -webkit-transition: .3s;
            transition: .3s; }
            main .slider .slides .slide .slide__overlay .transition__btn .fa-angle-double-down {
              font-size: 35px;
              color: #fff;
              font-weight: bold;
              cursor: pointer;
              text-align: center;
              -webkit-animation: txt_light 1s ease infinite;
              animation: txt_light 1s ease infinite; }
          main .slider .slides .slide .slide__overlay .a-fadeName {
            -webkit-text-stroke: 1px #444;
            text-shadow: 0 0 3px #fff; }
            @media screen and (max-width: 764px) {
              main .slider .slides .slide .slide__overlay .a-fadeName {
                font-size: 2.3rem;
                padding: 0 5px; } }
            @media screen and (max-width: 395px) {
              main .slider .slides .slide .slide__overlay .a-fadeName {
                font-size: 1.9rem;
                padding: 0 5px; } }
        main .slider .slides .slide .slide__txt {
          position: absolute;
          bottom: 0;
          left: 0; }
          main .slider .slides .slide .slide__txt[data-slide-txt="2"], main .slider .slides .slide .slide__txt[data-slide-txt="4"] {
            background: rgba(8, 63, 71, 0.7);
            max-width: 611px;
            width: 100%;
            bottom: 70px;
            left: 60px;
            padding: 10px 25px 10px 10px; }
            main .slider .slides .slide .slide__txt[data-slide-txt="2"] .slide__title[data-slide-title="2"], main .slider .slides .slide .slide__txt[data-slide-txt="4"] .slide__title[data-slide-title="2"] {
              color: #f7913f;
              font: 30px/40px "Mangal" , sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 3px; }
          main .slider .slides .slide .slide__txt[data-slide-txt="3"] {
            max-width: 611px;
            width: 100%;
            bottom: 70px;
            left: 60px;
            padding: 10px 25px 10px 10px; }
            main .slider .slides .slide .slide__txt[data-slide-txt="3"] .slide__title[data-slide-title="3"] {
              color: #f7913f;
              font: 30px/40px "Mangal" , sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 3px; }
          main .slider .slides .slide .slide__txt[data-slide-txt="4"] .slide__title[data-slide-title="4"] {
            color: #f7913f;
            font: 30px/40px "Mangal" , sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px; }
          main .slider .slides .slide .slide__txt .slide__rect {
            width: 186px;
            height: 159px;
            position: absolute;
            top: -78px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            left: 491px; }
            main .slider .slides .slide .slide__txt .slide__rect-txt {
              position: absolute;
              top: 55px;
              left: 32px;
              -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
              color: #ffffff;
              font: 16px/16px "Mangal" ,sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 2px;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; }
              main .slider .slides .slide .slide__txt .slide__rect-txt span:first-child {
                font-size: 29px;
                margin-right: 5px; }
          main .slider .slides .slide .slide__txt .slide__items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            main .slider .slides .slide .slide__txt .slide__items .slide__item {
              width: -webkit-max-content;
              width: -moz-max-content;
              width: max-content;
              background-color: #f7913f;
              color: #ffffff;
              font: 45px/80px "Mangal" ,sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 4.5px; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(1) {
                color: #064c56;
                padding: 0 51% 0 38%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(2) {
                padding: 0 7% 0 16%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(3) {
                padding: 0 7% 0 40%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(4) {
                padding: 0 7% 0 40%; }
              main .slider .slides .slide .slide__txt .slide__items .slide__item:nth-child(5) {
                padding: 0 7% 0 37%; }
  main .header {
    background-color: #26292E;
    position: relative;
    width: 100%;
    height: 58px;
    z-index: 1001; }
    main .header .container {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main .header .container .header__nav .header__burger-menu {
        display: none;
        -webkit-transition: .3s;
        transition: .3s; }
        @media screen and (max-width: 764px) {
          main .header .container .header__nav .header__burger-menu {
            display: block;
            margin-right: 20px;
            cursor: pointer; } }
        main .header .container .header__nav .header__burger-menu span {
          width: 23px;
          height: 3px;
          -webkit-transition: .1s;
          transition: .1s;
          background: #fff; }
          main .header .container .header__nav .header__burger-menu span:nth-child(2) {
            margin-top: 2px;
            height: 2px; }
          main .header .container .header__nav .header__burger-menu span:last-child {
            margin-top: 2px; }
      @media screen and (max-width: 764px) {
        main .header .container .header__nav .menu__items {
          display: none; } }
      main .header .container .header__nav .menu__items a {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        -webkit-transition: .3s;
        transition: .3s;
        margin-right: 50px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        transition: .3s;
        font-weight: 700; }
        main .header .container .header__nav .menu__items a.active__item, main .header .container .header__nav .menu__items a:hover {
          text-shadow: 1px 1px 15px #fff;
          color: white; }
  main .header__nav-mobile {
    background: #2F3238;
    display: none; }
    main .header__nav-mobile .menu__items-mobile .menu__item-mobile {
      background: #26292E;
      text-align: center;
      margin-bottom: 1px; }
      main .header__nav-mobile .menu__items-mobile .menu__item-mobile a {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        padding: 20px 0;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        -webkit-transition: .3s;
        transition: .3s;
        font-weight: 700; }
        main .header__nav-mobile .menu__items-mobile .menu__item-mobile a:hover, main .header__nav-mobile .menu__items-mobile .menu__item-mobile a.active__item {
          text-shadow: 1px 1px 15px #fff;
          color: white; }
  main .portfolio-section {
    padding: 100px 0; }
    main .portfolio-section .container .portfolio__title {
      text-align: center;
      font-size: 48px;
      margin: 0 0 10px 0; }
    main .portfolio-section .container .portfolio__subtitle {
      text-align: center;
      margin-bottom: 40px; }
    main .portfolio-section .container .portfolio__items {
      max-width: 1000px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      @media screen and (max-width: 764px) {
        main .portfolio-section .container .portfolio__items {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      main .portfolio-section .container .portfolio__items .portfolio__item {
        max-width: 420px;
        width: 29%;
        height: 455px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        position: relative;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-transition: .3s;
        transition: .3s;
        overflow: hidden;
        margin: 25px 15px; }
        @media screen and (max-width: 764px) {
          main .portfolio-section .container .portfolio__items .portfolio__item {
            width: 75%;
            max-width: 420px;
            max-width: 75%;
            background-size: 100%;
            background-position: top;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 20px auto;
            display: block; } }
        main .portfolio-section .container .portfolio__items .portfolio__item:hover {
          -webkit-box-shadow: 0 0 25px #fff;
          box-shadow: 0 0 25px #fff; }
          main .portfolio-section .container .portfolio__items .portfolio__item:hover .portfolio__item-hidden-link {
            bottom: 0; }
        @media screen and (max-width: 764px) {
          main .portfolio-section .container .portfolio__items .portfolio__item .hidden-portfolio {
            display: none; } }
        main .portfolio-section .container .portfolio__items .portfolio__item .portfolio__item-hidden-link {
          background: rgba(0, 0, 0, 0.9);
          color: #fff !important;
          position: absolute;
          bottom: -538px;
          left: 0;
          right: 0;
          z-index: 5;
          text-align: center;
          -webkit-transition: .3s;
          transition: .3s;
          padding: 15px 5px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 16px; }
        main .portfolio-section .container .portfolio__items .portfolio__item .overlay-item {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #000;
          opacity: 0.3;
          -webkit-transition: .3s;
          transition: .3s;
          z-index: 4; }
          main .portfolio-section .container .portfolio__items .portfolio__item .overlay-item:hover {
            opacity: 0.1; }
  main .biography {
    background: #26292E; }
    main .biography__title,
    main .biography .biography__description {
      padding: 50px 0; }
    main .biography .biography-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      @media screen and (max-width: 764px) {
        main .biography .biography-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      main .biography .biography-wrapper .biography__photo {
        width: 250px;
        height: 250px;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        border-radius: 1%; }
      main .biography .biography-wrapper .biography__description {
        width: 50%;
        margin: 15px auto;
        padding: 15px 0;
        text-align: left;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px; }
        @media screen and (max-width: 764px) {
          main .biography .biography-wrapper .biography__description {
            width: 90%; } }

.up-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin: 0 3px 0 0;
  cursor: pointer;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  position: fixed;
  right: 5px;
  bottom: 10px;
  z-index: 9999;
  display: none;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: btn_up 1s ease infinite , txt_light 1s ease infinite;
  animation: btn_up 1s ease infinite , txt_light 1s ease infinite; }

@-webkit-keyframes btn_down {
  0% {
    top: 75px; }
  50% {
    top: 65px; }
  100% {
    top: 75px; } }

@keyframes btn_down {
  0% {
    top: 75px; }
  50% {
    top: 65px; }
  100% {
    top: 75px; } }

@-webkit-keyframes btn_up {
  0% {
    bottom: 5px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 5px; } }

@keyframes btn_up {
  0% {
    bottom: 5px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 5px; } }

@-webkit-keyframes txt_light {
  0% {
    text-shadow: 0 0 3px #fff; }
  50% {
    text-shadow: 0 0 9px #fff; }
  100% {
    text-shadow: 0 0 3px #fff; } }

@keyframes txt_light {
  0% {
    text-shadow: 0 0 3px #fff; }
  50% {
    text-shadow: 0 0 9px #fff; }
  100% {
    text-shadow: 0 0 3px #fff; } }

.bar-con {
  background-color: transparent;
  height: 25px;
  border: 2px solid #000; }

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 0%; }

.html .bar,
.css .bar,
.sass .bar,
.wordpress .bar,
.photoshop .bar,
.jQuery .bar,
.avocode .bar,
.javascript .bar,
.php .bar,
.gulp .bar,
.vuejs .bar {
  background: #fff;
  -webkit-transition: 3s ease;
  transition: 3s ease; }

.skills-block {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%; }

.skills-content {
  margin-bottom: 30px; }

.block-title {
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold; }
  .block-title span {
    color: #fff; }

.show_more,
.show_skills {
  display: none;
  background: #26292E;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 3px;
  padding: 16px 40px;
  font-weight: bold; }
  .show_more:hover,
  .show_skills:hover {
    background: #DE5E60;
    color: #fff; }

.show_skills {
  background: #2F3238; }

.skills-title {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 25px;
  text-decoration: underline; }

.footer {
  background: #26292E; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0; }
    @media screen and (max-width: 764px) {
      .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .footer .container .footer_contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .container .footer_contacts .skype,
      .footer .container .footer_contacts .gmail,
      .footer .container .footer_contacts .call {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 5px 0;
        font-size: 17px;
        font-weight: 700; }
        .footer .container .footer_contacts .skype:hover span,
        .footer .container .footer_contacts .gmail:hover span,
        .footer .container .footer_contacts .call:hover span {
          text-shadow: 0 0 5px #fff; }
      .footer .container .footer_contacts .skype span {
        color: #fff;
        -webkit-transition: .3s;
        transition: .3s; }
      .footer .container .footer_contacts .skype a,
      .footer .container .footer_contacts .gmail a,
      .footer .container .footer_contacts .call a {
        text-decoration: none;
        color: #fff;
        margin-left: 10px;
        letter-spacing: 1.2; }
      .footer .container .footer_contacts .skype span,
      .footer .container .footer_contacts .gmail span,
      .footer .container .footer_contacts .call span {
        color: #fff; }
