.banner {
	margin-top: 100px;
}

.slide_about {
	justify-content: center;
	align-items: flex-start;
}

.slide_about .title {
	text-align: center;
	max-width: 560px;
}

.slide_about .title , 
.slide_about .subtitle {
	margin-left: 5vw;
}

.slide_about {
	min-height: 354px;
}

.people__bg {
	width: 530px;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #777;
	
}



.story__title {
	color: #000000;
	font: 18px/18px 'Roboto' , light;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	
}

.story__text {
	font: 14px/27px 'Roboto';
	color: #777777;
	margin-top: 38px;
	letter-spacing: 1.4px;
	
}

.our_story  {
	display: flex;
	justify-content: center; 
	padding: 70px 0;
	width: 60vw;
}

.story_info {
	padding-left: 5%;
}


